:root {
  --color--creme: #f4eee9;
  --color--brown: #704f38;
  --color--primary: #c79691;
  --color--secondary\<deleted\|variable-b082757a\>: #fae3b6;
  --waves-library--white: white;
  --waves-library--black: #131313;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  background-color: var(--color--creme);
  font-family: "64 F 32 B 873 A 3 Dc 9 A 3447605 B 3 Supreme Variable", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

p {
  margin-bottom: 10px;
  line-height: 21px;
}

a {
  color: var(--color--brown);
  text-decoration: underline;
}

.hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 140px;
  display: block;
}

.team {
  margin-bottom: 64px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 1600px;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.container.nav {
  justify-content: center;
  display: block;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-block.flex {
  justify-content: space-between;
}

.hero-heading {
  color: var(--color--primary);
  margin-top: 0;
  font-size: 50px;
  line-height: 60px;
}

.button {
  width: 170px;
  height: 50px;
  background-color: var(--color--primary);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 600;
  display: flex;
}

.button.outline {
  border: 1px solid var(--color--creme);
}

.heading1 {
  color: var(--color--brown);
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
}

.heading1.nav {
  float: left;
  color: var(--color--primary);
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.heading1.color {
  color: var(--color--brown);
}

.heading1.bm {
  margin-bottom: 20px;
}

.bold {
  font-weight: 700;
}

.bold.nav {
  color: var(--color--primary);
  margin-right: 80px;
  font-weight: 600;
}

.bold.nav.mobile {
  color: var(--color--secondary\<deleted\|variable-b082757a\>);
  margin-right: 20px;
}

.bold.nav.mobile.w--current {
  color: var(--color--primary);
}

.navbar {
  background-color: #fff;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.grid-4 {
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr;
}

.grid-5 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  align-items: start;
}

.p-classic {
  color: var(--color--primary);
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: "64 F 32 B 873 A 3 Dc 9 A 3447605 B 3 Supreme Variable", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.p-classic.color {
  color: var(--color--brown);
  text-align: justify;
  font-family: "64 F 32 B 873 A 3 Dc 9 A 3447605 B 3 Supreme Variable", sans-serif;
}

.p-classic.color.mb {
  margin-bottom: 32px;
}

.title-small-2 {
  color: var(--color--primary);
  letter-spacing: 1px;
  -webkit-text-stroke-color: #fff;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link-2 {
  color: #1a1b1f;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.footer-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.div-block-17 {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.footer-dark-2 {
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.text-block-3 {
  color: #000;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.section {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 0;
  display: flex;
}

.heading-2 {
  color: var(--color--primary);
  font-size: 20px;
}

.heading-2.maxw {
  max-width: 500px;
}

.paragraph-8 {
  font-size: 12px;
}

.navbrand {
  color: var(--color--primary);
  font-size: 24px;
  text-decoration: none;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.heading-4 {
  color: var(--color--primary);
}

._404img {
  margin-bottom: 40px;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-logo-center-container.shadow-three {
  background-color: #c79691;
  border-radius: 0 0 20px 20px;
  position: fixed;
}

.navbar-wrapper-three {
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: var(--color--creme);
  letter-spacing: .25px;
  margin-left: 0;
  margin-right: 5px;
  padding: 5px 10px 5px 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.maps {
  width: 100%;
  height: 100%;
}

.quick-stack {
  width: 100%;
  grid-column-gap: 60px;
  grid-row-gap: 0px;
  padding: 0;
}

.about-image {
  height: 100%;
  background-image: url('../images/IMG_6854.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.div-block-25 {
  max-height: 500px;
}

.link-block {
  background-color: var(--color--primary);
  color: #fff;
  border-radius: 10px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  padding: 16px 12px;
  text-decoration: none;
}

.link-block:hover {
  background-color: #c79691;
}

.link-block.bm {
  margin-bottom: 32px;
}

.div-block-12 {
  display: flex;
}

.text-block-2 {
  padding-left: 1px;
  padding-right: 1px;
}

.button-icon-heart {
  padding-left: 5px;
}

.hero-p {
  color: var(--color--brown);
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: "64 F 32 B 873 A 3 Dc 9 A 3447605 B 3 Supreme Variable", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.text-field {
  color: var(--color--brown);
  background-color: rgba(0, 22, 55, .05);
  border-radius: 10px;
  margin-bottom: 16px;
}

.text-field:focus {
  border: 1px solid var(--color--primary);
}

.text-field.big {
  padding-top: 16px;
  padding-bottom: 64px;
}

.checkbox-field {
  margin-bottom: 32px;
}

.form-block {
  width: 100%;
}

.checkbox-label {
  color: var(--color--brown);
}

.link-3 {
  color: var(--color--primary);
}

.checkbox {
  border-color: var(--color--brown);
  color: var(--color--primary);
  -webkit-text-stroke-color: var(--color--brown);
}

.checkbox.w--redirected-checked {
  border-color: var(--color--brown);
  background-color: var(--color--brown);
}

.checkbox.w--redirected-focus {
  box-shadow: 0 0 3px 1px var(--color--brown);
}

.container-4 {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 64px;
  padding-right: 64px;
}

.thanks {
  padding-top: 140px;
}

.soical-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  display: flex;
}

.social-icon {
  width: 32px;
  border: 2px solid var(--color--primary);
  border-radius: 10px;
  padding: 4px;
}

.slide-2 {
  background-image: url('../images/kleemeier-kollektion-2021-brautkleider-120270-kahlia-ruecken10x.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-3 {
  background-image: url('../images/kleemeier-kollektion-2021-brautkleider-120395-kundry-2.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-4 {
  background-image: url('../images/kleemeier-kollektion-2021-brautkleider-120535-linea.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-1 {
  background-image: url('../images/Kleemeier_122270.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider {
  height: 100%;
  min-height: 500px;
  background-color: var(--color--creme);
  border-radius: 10px;
  overflow: hidden;
}

.icon-2, .icon-3, .link {
  color: var(--color--primary);
}

.logo {
  width: 100px;
}

.fs-cc-prefs_checkbox {
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-prefs_trigger, .fs-cc-manager_trigger, .fs-cc-banner_trigger {
  display: none;
}

.fs-cc-manager_button {
  color: #932a2e;
  cursor: pointer;
  background-color: #fff;
  border-radius: 999rem;
  flex-direction: column;
  padding: .625rem;
  transition: color .2s;
  display: flex;
}

.fs-cc-manager_button:hover {
  color: #4353ff;
}

.fs-cc-banner_close {
  opacity: 1;
  cursor: pointer;
  background-color: #fff;
  border-radius: 999rem;
  margin-left: .75rem;
  padding: .625rem;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .1);
}

.fs-cc-prefs_space-small {
  margin-bottom: .75rem;
}

.fs-cc-banner_button {
  min-width: 8.75rem;
  border: 2px solid var(--color--primary);
  background-color: var(--color--primary);
  color: #fff;
  text-align: center;
  border-radius: 999rem;
  margin-left: 1rem;
  padding: .625rem 1.25rem;
  font-size: 1rem;
}

.fs-cc-banner_button.fs-cc-button-alt {
  border-color: var(--color--primary);
  color: var(--color--brown);
  background-color: #fff;
}

.bold-text {
  color: var(--color--brown);
}

.fs-cc-prefs_button {
  border: 2px solid var(--color--primary);
  background-color: var(--color--primary);
  border-radius: 999rem;
  margin-right: .5rem;
  padding: .625rem 1.5rem;
  font-size: .875rem;
  font-weight: 700;
}

.fs-cc-prefs_button.fs-cc-button-alt {
  border-color: var(--color--primary);
  color: var(--color--brown);
  background-color: #fff;
}

.fs-cc-prefs_option {
  border-bottom: 1px solid rgba(51, 51, 51, .15);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fs-cc-prefs_component {
  z-index: 997;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 2rem;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-prefs_space-medium {
  margin-bottom: 2.5rem;
}

.fs-cc-prefs_submit-hide {
  display: none;
}

.fs-cc-prefs_close {
  z-index: 100;
  color: #333;
  cursor: pointer;
  background-color: #f5f6ff;
  border-radius: 100%;
  padding: .625rem;
  font-size: 1.25rem;
  text-decoration: none;
  position: absolute;
  top: -.75rem;
  bottom: auto;
  left: auto;
  right: -.75rem;
  box-shadow: -1px 1px 12px rgba(51, 51, 51, .1);
}

.fs-cc-prefs_content {
  height: 100%;
  padding: 2.5rem 2rem;
  overflow: scroll;
}

.fs-cc-manager_component {
  z-index: 999;
  display: none;
  position: fixed;
  top: auto;
  bottom: 1.25rem;
  left: 1.25rem;
  right: auto;
}

.fs-cc-prefs_overlay {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 5, 36, .6);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-prefs_form {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  max-width: 36rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 0;
  position: relative;
}

.fs-cc-prefs_title {
  color: var(--color--primary);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2em;
}

.fs-cc-prefs_close-icon {
  width: 1rem;
  height: 1rem;
  color: var(--color--brown);
}

.fs-cc-manager_icon {
  width: 2rem;
  height: 2rem;
  color: var(--color--brown);
  transition: color .2s;
}

.fs-cc-manager_icon:hover {
  color: var(--color--primary);
}

.fs-cc-prefs_toggle-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  display: flex;
}

.fs-cc-prefs_buttons-wrapper {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-right: -.5rem;
  display: flex;
}

.fs-cc-banner_container {
  width: 100%;
  max-width: 62.5rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fs-cc-banner_component {
  z-index: 998;
  background-color: #fff;
  border-top: 1px solid rgba(67, 83, 255, .16);
  padding: 1.5rem 2rem;
  display: none;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-prefs_label {
  color: var(--color--brown);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.fs-cc-prefs_toggle {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  border-radius: 999px;
}

.fs-cc-banner_text {
  color: #616161;
  margin-right: 1.5rem;
}

.fs-cc-banner_buttons-wrapper {
  flex-direction: row;
  flex: none;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.fs-cc-banner_close-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color--brown);
}

.fs-cc-banner_text-link {
  border-bottom: 2px solid var(--color--brown);
  color: var(--color--brown);
  font-weight: 400;
  text-decoration: none;
}

.fs-cc-prefs_checkbox-field {
  width: 2.75rem;
  height: 1.5rem;
  background-color: #ccc;
  border-radius: 999rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 0;
  padding: .125rem;
  display: flex;
  position: relative;
}

.fs-cc-prefs_text {
  color: #021a69;
  font-size: .75rem;
}

.fs-cc-prefs_checkbox-label {
  display: none;
}

.bold-text-2 {
  color: var(--color--primary);
}

.map-wrapper {
  width: 100%;
  height: 100%;
  min-height: 500px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.map-image {
  width: 100%;
  height: 100%;
  background-image: url('../images/map.webp');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.waves-dismmiss-bar-2 {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  transition: transform .2s;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 32px;
}

.waves-dismmiss-bar-2:hover {
  transform: scale(1.1);
}

.waves---cta-bar-2 {
  height: 36px;
  background-color: var(--waves-library--white);
  color: var(--waves-library--black);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}

.waves---paragraph-regular {
  font-size: 16px;
  line-height: 130%;
}

.waves-content-bar-2 {
  grid-column-gap: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.banner {
  z-index: 6;
  width: 100%;
  height: 52px;
  background-color: var(--waves-library--black);
  color: var(--waves-library--white);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.waves-dismmiss-bar-1 {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  transition: transform .2s;
  position: static;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 32px;
}

.waves-dismmiss-bar-1:hover {
  transform: scale(1.1);
}

.waves-tag-bar-1 {
  background-color: var(--waves-library--white);
  color: var(--waves-library--black);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  font-size: 14px;
  display: flex;
}

.waves-content-bar-1 {
  grid-column-gap: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.waves-bar-1 {
  z-index: 2147483647;
  width: 100%;
  background-color: var(--color--primary);
  color: var(--waves-library--white);
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.banner_siko {
  z-index: 7;
  height: 52px;
  background-color: var(--waves-library--black);
  color: var(--waves-library--white);
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
}

.text-block-4 {
  color: var(--color--brown);
  text-align: center;
}

@media screen and (max-width: 991px) {
  .hero {
    margin-bottom: 32px;
    padding-top: 120px;
    padding-bottom: 0;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .bold.nav.mobile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-4 {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .grid-5 {
    grid-template-columns: 1fr;
  }

  .icon-nav {
    color: var(--color--primary);
  }

  .nav-menu {
    background-color: #f7f7f7;
  }

  .menu-button, .menu-button.w--open {
    background-color: #fff;
  }

  .container-3 {
    max-width: 728px;
  }

  .navbar-logo-center-container.shadow-three {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0%;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .navbar-brand-three.w--current {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    color: var(--color--primary);
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: rgba(200, 200, 200, 0);
  }

  .about-image {
    width: 50%;
    height: 500px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon {
    color: var(--color--creme);
    -webkit-text-stroke-color: var(--color--creme);
    font-size: 32px;
  }

  .link-block {
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    display: inline-block;
  }

  .container-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-27 {
    margin-bottom: 32px;
  }

  .logo {
    width: 80px;
  }

  .fs-cc-banner_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .fs-cc-banner_text {
    margin-right: 0;
  }

  .fs-cc-banner_buttons-wrapper {
    margin-top: 1rem;
  }

  .banner {
    justify-content: flex-start;
    padding-left: 24px;
  }

  .waves-dismmiss-bar-1 {
    right: 24px;
  }

  .waves-bar-1, .banner_siko {
    justify-content: flex-start;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .team {
    margin-bottom: 0;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .grid-4 {
    grid-template-columns: 1fr;
  }

  .grid-5 {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .footer-link-2 {
    text-align: center;
  }

  .footer-link-2:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-dark-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .text-block-3 {
    text-align: center;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .navbar-brand-three.w--current {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .maps {
    height: 80vw;
    min-height: 0;
  }

  .quick-stack {
    grid-column-gap: 0px;
    grid-row-gap: 32px;
  }

  .about-image {
    width: 70%;
  }

  .link-block, .div-block-12, .text-block-2 {
    text-decoration: none;
  }

  .container-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .fs-cc-prefs_title {
    font-size: 1.25rem;
  }

  .fs-cc-banner_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .waves-dismmiss-bar-2 {
    top: 8px;
    bottom: auto;
    left: auto;
    right: 8px;
  }

  .waves---paragraph-regular {
    font-size: 14px;
  }

  .waves-content-bar-2 {
    width: 100%;
    grid-row-gap: 8px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .banner {
    height: auto;
    padding: 32px 24px 24px;
  }

  .waves-dismmiss-bar-1 {
    position: absolute;
    top: 8px;
    bottom: auto;
    left: auto;
    right: 8px;
  }

  .waves-content-bar-1 {
    width: 100%;
    grid-row-gap: 8px;
    flex-direction: column;
  }

  .waves-bar-1 {
    height: auto;
    text-align: center;
    padding: 16px 0;
  }

  .banner_siko {
    height: auto;
    text-align: center;
    padding: 32px 24px 24px;
  }
}

@media screen and (max-width: 479px) {
  .team {
    padding-top: 0;
  }

  .container {
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero-heading {
    font-size: 42px;
    line-height: 50px;
  }

  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-small-2 {
    color: var(--color--primary);
  }

  .container-3 {
    max-width: none;
  }

  .navbar-brand-three.w--current {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .maps {
    height: 100vw;
  }

  .quick-stack {
    grid-column-gap: 0px;
    grid-row-gap: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  .about-image {
    width: 100%;
    height: 500px;
  }

  .container-4 {
    justify-content: center;
  }

  .fs-cc-banner_close {
    position: absolute;
    top: -1.5rem;
    bottom: auto;
    left: auto;
    right: .75rem;
  }

  .fs-cc-banner_button {
    width: 100%;
    margin-bottom: .5rem;
    margin-left: 0;
  }

  .fs-cc-prefs_button {
    margin-bottom: .5rem;
  }

  .fs-cc-prefs_component, .fs-cc-prefs_content {
    padding: 1.5rem;
  }

  .fs-cc-banner_buttons-wrapper {
    width: 100%;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .waves-content-bar-2 {
    grid-row-gap: 12px;
  }
}

#w-node-_2b2ec616-25a0-cf8b-456b-3d40a8723d37-bcc807db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d1d284eb-2a00-1183-fb93-c0aedd84da03-bcc807db {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_5f8b2470-1543-b2b9-985a-ac32857d61cc-857d61c8, #w-node-_5f8b2470-1543-b2b9-985a-ac32857d61d6-857d61c8, #w-node-_5f8b2470-1543-b2b9-985a-ac32857d61df-857d61c8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-d1d284eb-2a00-1183-fb93-c0aedd84da03-bcc807db {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}


@font-face {
  font-family: '64 F 32 B 873 A 3 Dc 9 A 3447605 B 3 Supreme Variable';
  src: url('../fonts/64f32b873a3dc9a3447605b3_Supreme-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '64 F 32 B 23 Ccd 100 A 57 D 90 C 593 Zodiak Variable';
  src: url('../fonts/64f32b23ccd100a57d90c593_Zodiak-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}